<!-- footer ---->
<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-custom">
    <h6 class="display-7 navbar-text">
      &copy; Copyright Team 6 All rights reserved
    </h6>
  </nav>
</footer>
