<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
<!DOCTYPE html>
<html>
 <head>
   <link rel='stylesheet' href="/bootstrap/dist/css/bootstrap.min.css">
   <link rel='stylesheet' href="/@fortawesome/fortawesome-free/css/all.min.css">
   <link rel='stylesheet' href='/Content/app.css' />
 </head>
 <body>
   <section id="about">
     <div class="container mt-4 pt-4">
         <h1 class="text-center">About the Team</h1>
         <div class="row mt-4">
          <div class="col-lg-8">
            <p class="about_desc">Meet our exceptional team of four behind the scenes! United by a shared passion for innovation, we've collectively crafted a cutting-edge survey site for our client's company. With diverse skills ranging from design to programming, we seamlessly blended our individual strengths to create a user-friendly platform that reflects our commitment to excellence. Through collaborative effort and open communication, we transformed challenges into opportunities, proving that together, we can achieve remarkable results. 
            </p>
            <p class="about_desc">
          </p>
            <div class="container">
                <div class="row">
                  <div class="col-lg-4 mt-4">
                    <div class="card teamText">
                      <div class="card-body">
                        <img src="pictures/DelanyBricker.jpg" alt="Delany Bricker" width="" height="">
                        <h4 class="card-title mt-3">Delany Bricker</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 mt-4">
                    <div class="card teamText">
                      <div class="card-body">
                        <img src="pictures/DelanyBricker.jpg" alt="Delany Bricker" width="" height="">
                        <h4 class="card-title mt-3">Delany Bricker</h4>
                      </div>
                    </div>
                  </div>
                </div>
                
              
 </section>
 </body>
</html>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>