<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
<!DOCTYPE html>
<html>
 <head>
   <link rel='stylesheet' href="/bootstrap/dist/css/bootstrap.min.css">
   <link rel='stylesheet' href="/@fortawesome/fortawesome-free/css/all.min.css">
   <link rel='stylesheet' href='/Content/app.css' />
 </head>
 <body>
   <section id="about">
     <div class="container mt-4 pt-4">
         <h1 class="text-center">About the Team</h1>
         <div class="row mt-4">
          <div class="col-lg-13">
            <p class="about_desc">Meet our exceptional team of four behind the scenes! United by a shared passion for innovation. 
            </p>
            <p class="about_desc">
          </p>
            <div class="container">
                <div class="row">
                  <div class="col-lg-3 mt-4">
                    <div class="card teamText">
                      <div class="card-body">
                        <img src="Assets/images/DelanyBricker.jpg" alt="" width="100" height="">
                        <h5 class="card-title mt-3">Delany Bricker</h5>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 mt-4">
                    <div class="card teamText">
                      <div class="card-body">
                        <img src="Assets/images/Ricky.jpg" alt="" width="100" height="">
                        <h4 class="card-title mt-3">Ricky Racz</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 mt-4">
                    <div class="card teamText">
                      <div class="card-body">
                        <img src="Assets/images/Samiul.png" alt="" width="100" height="">
                        <h4 class="card-title mt-3">Samiul Rafid</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 mt-4">
                    <div class="card teamText">
                      <div class="card-body">
                        <img src="Assets/images/Ali.jpg" alt="" width="100" height="">
                        <h4 class="card-title mt-3">Ali Khaleel</h4>
                      </div>
                    </div>
                  </div>
                </div>
                
              
 </section>
 </body>
</html>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>